{:main atomist.web.handler
 :aot true
 :target-image {:type :registry
                :image-name "slimslenderslacks/dockerhub-eks-clj-web"
                :tagger {:fn jibbit.tagger/tag}
                :authorizer {:fn jibbit.creds/load-edn
                             :args {:local ".creds.edn"}}}}
